.canvas {
    height: 500px;
    width: 700px;
    background-color: white;
    border: 2px solid black;
    float: left;
}

.ellipse {
    fill:greenyellow;
    stroke:black;
    stroke-width:1;
    cursor: move;
}

.settings {
    border: 2px solid black;
    padding: 10px;
    background-color: aqua;
    float: left;
    margin-left: 50px;
}

input {
    width: 100px;
}

.checkbox {
    width: auto;
}

.undoredo {
    margin-top:20px;
}